@model AirFlight.Models.IndexViewModel
@{
    ViewBag.Title = "Личный кабинет";
}

<h4 class="text-success">@ViewBag.StatusMessage</h4>
<h4 id="saveok" style="visibility:hidden; text-align:center;color:deepskyblue">Почтовый ящик успешно изменён</h4>
<br />

     <h3>Изменение параметров учетной записи</h3>
        <hr />

        <h5>
            <b>Пароль:</b> @Html.ActionLink("Изменить пароль", "ChangePassword")
        </h5>
        <br />
        <h5>
           <b>Введите email для уведомлений:</b>
      </h5>
      <h5>
    @Html.Editor("EmailSend", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email@alrosa.ru", value = @ViewBag.EmailSend } })
    </h5>
     <h5 style="padding-left:5.5cm">
      @Html.ActionLink("Сохранить", "SaveEmailSend", null, new { @class = "emailsend", onclick = "return false" })
     </h5> 
      
        <br />
        <br />
@section scripts
    {
    <script type="text/javascript">
        $(window).ready(function () {
            //запрещаем браузеру кэшировать данные AJAX
            $.ajaxSetup({ cache: false });
            $(".dropdown-toggle").dropdown();
        });

        $(function ($) {

            $("#EmailSend").inputmask("*{1,30}@@\\alros\\a.ru", { showMaskOnHover: false, placeholder: "" });

            $(".emailsend").click(function (e) {
            e.preventDefault();
            var urlpost = $(this).attr('href');
            var url = "@Url.Action("Index")";          
            $.post(urlpost, { Emil: $("#EmailSend").val()}).done(function (result) {
                    if (result != "Ok") {
                        alert(result)
                    }
                    else {
                        setTimeout(function () {
                            $(".footer").hide();
                            $.get(url); 
                            
                        }, 400)
                        setTimeout(function () {
                            $("#saveok").css({ "visibility": "visible" });
                        }, 2000);
                        setTimeout(function () {
                            $("#saveok").css({ "visibility": "hidden" });
                        }, 4000);
                    }
                }) 
            });
          

        });
</script>
}




